name: Exploring variables and secrets

on:
 push

env:
   DOCKER_REGISTRY: docker.io
   DOCKER_USERNAME: siddharth1
   IMAGE_NAME: github-actions-nginx

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: docker build
      run: docker build -t ${{env.DOCKER_REGISTRY}}/${{env.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}:latest   