name: Exploring variables and secrets

on:
 push

env:
   DOCKER_REGISTRY: docker.io
   IMAGE_NAME: github-actions-nginx

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: docker build
      run: docker build -t ${{env.DOCKER_REGISTRY}}/${{vars.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}:latest 

    - name: Docker login
      run: docker login --username=${{ vars.DOCKER_USERNAME}} --password=${{ vars.DOCKER_PASSWORD }}